<div class="container">
  <h1>Deaf Grandma</h1>
    <p>Grandma says: </p><p id="grandma_says"></p>
 

  <form action="/grandma" method="post">
    Say something to Grandma:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>

</div>

